################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/PrimeNumber/bin/Debug
/PrimeNumber/obj/Debug
/.vs/PrimeNumber
PrimeNumber/bin/
